---
// src/pages/music/[id].astro
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import SongViewer from "../../components/SongViewer.jsx";
import supabase from "../../lib/supabase";
import FancyText from "../../components/FancyText.jsx";

const { id } = Astro.params;

/* único fetch — lado servidor */
const { data: song, error } = await supabase
  .from("cantos")
  .select(
    "id, titulo, tono, autor, version, cuerpo, historia, pdf, fundamento_biblico, youtube_url, mp3_urls",
  )
  .eq("id", id)
  .single();

if (error || !song) throw new Error("Not found");
---

<Layout title={song.titulo}>
  <h2 class="text-center my-8">
    <FancyText
      text={song.titulo}
      colors={["#40ffaa", "#4079ff", "#ff40c6"]}
      animationSpeed={4}
      showBorder
      className="text-4xl font-extrabold"
      client:only="react"
    />
  </h2>
  <br />
  <!-- le pasamos solo la letra -->
  <SongViewer song={song} client:only="react" />
</Layout>
