/* The integration's default injected base.css file @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
  .transport-btn{
    @apply w-12 h-12 rounded-full bg-sky-600/90 text-white text-2xl
           flex items-center justify-center backdrop-blur drop-shadow-md
           hover:bg-sky-600 active:scale-95 transition
           focus:outline-none focus:ring-2 focus:ring-sky-400;
  }
}
