---
export const prerender = false;

import Layout from '../../layouts/BlogLayouts.astro'

import supabase from '../../lib/supabase'

import BlogDetail from '../../components/BlogDetail.jsx' // Componente para mostrar detalles del blog

import FancyText from '../../components/FancyText.jsx'

const { id } = Astro.params

// Traemos el blog por el id
const { data: blog, error } = await supabase
  .from('blogs')
  .select(`
    id,
    titulo,
    cuerpo_md,
    resumen,
    cover_img,
    fecha_publicacion,
    podcast_url,
    video_url,
    autor:autor_id (
      nombre,
      apodo,
      foto_url
    )
  `)
  .eq('id', id) // Usamos id para URLs amigables
  .single()

if (error || !blog) throw new Error('Not found')
---

<Layout title={blog.titulo}>
  <div class="flex justify-center w-full min-h-screen py-10">
    <div class="max-w-2xl w-full">
         <h1 class="text-center my-8">
    <FancyText
      text={blog.titulo}
      colors={['#1A2A80', '#4079ff', '#7A85C1']}
      animationSpeed={50} 
      showBorder
      className="text-4xl font-extrabold"
      client:only="react"
    />
  </h1>
   <br>
<article class="group">
  <img
    src={blog.cover_img || '/img/no-image.png'} alt={blog.titulo} 
    class="h-80 w-full rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
  />

   <div class="p-4">

    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500 dark:text-gray-400">
    {blog.fecha_publicacion?.slice(0, 10)}
    </p>
  </div>


</article>
     
     
      <div class="prose prose-lg md:prose-xl mx-auto w-ful ">
        <BlogDetail cuerpo_md={blog.cuerpo_md} client:only="react" />
      </div>
      <!-- Aquí autor, podcast, etc -->
    </div>
  </div>
</Layout>
